<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tambah Calon</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Summer note -->
  <link rel="stylesheet" href="vendor/summernote/summernote.css">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon">
          <i class="fas fa-poll"></i>
        </div>
        <div class="sidebar-brand-text ml-2">E-Voting OSIS</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Admin</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        PENGATURAN
      </div>

      <li class="nav-item active">
        <a class="nav-link" href="/add_calon">
          <i class="fas fa-plus-square"></i>
          <span>Tambah Calon</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid mt-4">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tambah Calon</h1>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- TextArea -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Visi - Misi</h6>
                </div>
                <!-- <form id="url_form" action="/up_calon/'Danill YUdhistira setiawan'" enctype="multipart/form-data" method="post"> -->
                <form id="url_form" enctype="multipart/form-data" method="post">
                <!-- Card Body -->
                <div class="card-body">
                    {{!-- Text visi misi--}}
                    <textarea id="summernote" name="visi" required> <p>Masukkan Visi Misi Calon </p> </textarea>
                </div>
              </div>
            </div>

            <!-- Image -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Foto</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {{!-- <img id='img-upload'/> --}}
                    <img id='img-upload' class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse… <input type="file" id="imgInp" name="foto" required>
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="form-group mt-1">
                      <label for="exampleInputEmail1" style="color: black;">Nama Calon</label>
                      <input type="text" class="form-control" id="calon" aria-describedby="emailHelp" name="nama_calon" required>
                      <small id="emailHelp" class="form-text text-muted">Masukkan Nama Calon.</small>
                    </div>
                </div>
              </div>

              <div class="d-flex flex-row-reverse">
                  <div class="p-2">
                    <button class="btn btn-success btn-icon-split" id="send">
                        <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Masukkan</span>
                    </button>
                  </div>
                  </form>
              </div>
            </div>
          
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; DANILLDEV</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/summernote/summernote.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Script for summernote -->
    <script>
        $(document).ready(function() {
            $('#summernote').summernote();
        });

        $(document).ready( function() {
                $(document).on('change', '.btn-file :file', function() {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
                });

                $('.btn-file :file').on('fileselect', function(event, label) {
                    
                    var input = $(this).parents('.input-group').find(':text'),
                        log = label;
                    
                    if( input.length ) {
                        input.val(log);
                    } else {
                        if( log ) alert(log);
                    }
                
                });
                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            
                            reader.onload = function (e) {
                                $('#img-upload').attr('src', e.target.result);
                            }
                            
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                    $("#imgInp").change(function(){
                        readURL(this);
                    }); 	
                });

        $(document).ready(() => {
          $("#send").click(() => {
            const calon = $("#calon").val().toString()
            const visi  = $("#summernote").val().toString()
            const nama_cal = btoa(calon) // encode nama calon
            const visi_misi = btoa(visi) // encode nama visi-misi
            $("#url_form").attr("action", `/up_calon/'${nama_cal}'/'${visi_misi}'`)
          })
        })    
    </script>

</body>

</html>